In [1]:
import pandas as pd
from vega_datasets import data

For all of the datasets below, examine the data types of each column, ensure that the dates are in the proper format, and set the dataframe's index to the date column as appropriate.

In [5]:
san_fran = data.sf_temps()
san_fran.head()

   temp                date
0  47.8 2010-01-01 00:00:00
1  47.4 2010-01-01 01:00:00
2  46.9 2010-01-01 02:00:00
3  46.5 2010-01-01 03:00:00
4  46.0 2010-01-01 04:00:00

Use the above dataset for the following exercises:

1) Resample by the day and take the average temperature. Visualize the average temperature over time.
2) Write the code necessary to visualize the minimum temperature over time.
3) Write the code necessary to visualize the maximum temperature over time.
4) Which month is the coldest, on average?
5) Which month has the highest average temperature?
6) Resample by the day and calculate the min and max temp for the day (Hint: .agg(['min', 'max'])). Use this resampled dataframe to calculate the change in temperature for the day. Which month has the highest daily temperature variability?
7) Bonus: Visualize the daily min, average, and max temperature over time on a single line plot, i.e. the min, average, and maximum temperature should be 3 seperate lines.

In [4]:
seattle = data.seattle_weather()
seattle.head()

        date  precipitation  temp_max  temp_min  wind  weather
0 2012-01-01            0.0      12.8       5.0   4.7  drizzle
1 2012-01-02           10.9      10.6       2.8   4.5     rain
2 2012-01-03            0.8      11.7       7.2   2.3     rain
3 2012-01-04           20.3      12.2       5.6   4.7     rain
4 2012-01-05            1.3       8.9       2.8   6.1     rain

Use the above dataset for the following exercises:

1) Which year and month combination has the highest amount of precipitation?
2) Visualize the amount of monthly precipitation over time.
3) Visualize the amount of wind over time. Choose a time interval you think is appropriate.
4) Which year-month combination is the windiest?
5) What's the sunniest year? (Hint: which day has the highest number of days where weather == sun?)
6) In which month does it rain the most?
7) Which month has the most number of days with a non-zero amount of precipitation?

In [6]:
flights = data.flights_20k()
flights.head()

                 date  delay  distance origin destination
0 2001-01-13 14:56:00     32       417    SAN         SJC
1 2001-01-31 16:40:00     -5      1093    FLL         ISP
2 2001-02-11 18:39:00      3       293    LBB         DAL
3 2001-01-10 21:00:00    -15       550    MSY         MCO
4 2001-03-30 21:45:00     -2       229    STL         IND

Use the above dataset for the following exercises:

1) Convert any negative delays to 0.
2) Which hour of the day has the highest average delay?
3) Does the day of the week make a difference in the delay amount?
4) Does the month make a difference in the delay amount?