In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

1) Split data (train/validate/test) and resample by any period except daily. Aggregate using the sum.

In [3]:
df = pd.read_csv('saas.csv')

In [4]:
df.head()

  Month_Invoiced  Customer_Id  Invoice_Id  Subscription_Type  Amount
0     2014-01-31      1000000     5000000                0.0     0.0
1     2014-01-31      1000001     5000001                2.0    10.0
2     2014-01-31      1000002     5000002                0.0     0.0
3     2014-01-31      1000003     5000003                0.0     0.0
4     2014-01-31      1000004     5000004                1.0     5.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790458 entries, 0 to 790457
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Month_Invoiced     790458 non-null  object
 1   Customer_Id        790458 non-null  int64
 2   Invoice_Id         790458 non-null  int64
 3   Subscription_Type  790458 non-null  float64
 4   Amount             790458 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 30.2+ MB


2) Forecast, plot and evaluate using each of the 4 parametric based methods we discussed:
- Simple Average
- Moving Average
- Holt's Linear Trend Model
- Based on previous year/month/etc., this is up to you.